.container-fluid {
  width: 95%;
}
header {
    text-align: left;
    /* color: #4593e6; */
    /* -webkit-text-stroke: 1px black; */
    /* text-shad */
  font-family: "Anton", sans-serif;
}
#playername-input {
  display: inline;
  width: 20%;
}
h6{
    margin: 3px;
}
.avatar{
    margin: 3px;
}
.avatar:hover{
    border:solid;
    border-width: 2px;
}
.active{
    border:solid;
    border-width: 2px;
}
.btn-primary {
  margin: 5px 0px 5px 5px;
}
#playerinput {
  font-family: "Shadows Into Light", cursive;
}
#gamearea {
  font-family: "Libre Baskerville", serif;
}
#player1whole,
#player2whole,
#battlearea {
  border: solid;
  border-width: 5px;
  border-color: #2e87e6;
  height: 345px;
  /* margin: 1px; */
}

body{
    background-color: #629bd9;
}
#battlearea, #throwareaplayer1, #throwareaplayer2{
  text-align: center;
}
#throwareaplayer1, #throwareaplayer2{
  margin-top: 5px;
}
